// "/-" will comment out whole expression

spawn-at-startup "hypridle"
spawn-sh-at-startup "swaybg -i ~/Bilder/Nature-Hills-Wallpaper.jpg -m fill"
spawn-sh-at-startup "/usr/lib/hyprpolkitagent/hyprpolkitagent"
// spawn-sh-at-startup


screenshot-path "~/Bilder/Screenshots/screenshot-%Y-%m-%d_%H-%M-%S.png"


output "eDP-1" {
	mode "1920x1080@60.020"
	scale 1.25
	position x=0 y=0
}

output "HDMI-A-2" {
	// mode custom=true "1900x1800@60"
	mode "1920x1080@60.000"
	scale 1.75
	position x=1536 y=0 // 1920 / 1.25 // resolution divided by scale
}

environment {
	// To satisfy java applications
	// https://github.com/Supreeeme/xwayland-satellite#java-applications
	_JAVA_AWT_WM_NONREPARENTING "1"
}

hotkey-overlay {
	skip-at-startup
	hide-not-bound
}

input {
	keyboard {
		xkb {
			layout "de"
		}
	}

	touchpad {
		tap
		natural-scroll
	}

	mouse {
		natural-scroll
	}

	// warp-mouse-to-focus
	// focus-follows-mouse
}

gestures {
	hot-corners {
		top-left
	}
}

layout {
	gaps 16
	//center-focused-column "never"

	focus-ring {
		width 4
		//active-color "#7fc8ff"
		active-gradient from="#4169e1" to="#ff8c00" angle=125
	}

	// What does this even do?
	/-shadow {
		on
		softness 30
		spread 5
		offset x=0 y=5
		color "#0007"
	}
}

// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
	// off
	workspace-switch {
		
	}

	window-open {
		duration-ms 125
		curve "ease-out-expo"
	}

	window-close {
		duration-ms 175
		curve "ease-out-expo"
	}
}

// https://niri-wm.github.io/niri/Configuration:-Window-Rules
// "niri msg windows" to get all active window titles/id's
window-rule {
	draw-border-with-background false
}

window-rule {
	match app-id="org.gnome.*"
	exclude app-id="org.gnome.SystemMonitor"
	match app-id="kitty"
	match app-id="atlauncher"
	match app-id="codium"
	match app-id="firefox" title=r#"^Mozilla Firefox$"#
	match app-id="jetbrains-studio"
	opacity 0.85
}

window-rule {
	match app-id=r#"firefox$"# title="^Picture-in-Picture$"
	match app-id="com-atlauncher-App" title="win0" // ATlauncher startup screen
	open-floating true
}

// Block out password managers from screencasts.
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screencast"
}

// Rounded corners
window-rule {
	geometry-corner-radius 5
	clip-to-geometry true
}

// Use 'wev' to find out what keys are called
binds {
	// Applications
	Mod+Shift+ssharp	{ show-hotkey-overlay; }
	Mod+T				{ spawn "kitty"; }
	Mod+D				{ spawn "fuzzel"; }
	Mod+F				{ spawn "firefox"; }
	Mod+Shift+F			{ spawn-sh "firefox --private-window"; }
	Mod+Ctrl+F			{ spawn-sh "firefox --ProfileManager"; }
	Mod+E				{ spawn "nautilus"; }
	Mod+Shift+E 		{ spawn-sh "nautilus -w"; }


	Mod+C 				{ close-window; }
	// Mod+				{ toggle-overview; }
	Mod+Q 				{ center-window; }

	// Windows
	Mod+Left			{ focus-column-left; }
	Mod+Down			{ focus-window-down; }
	Mod+Up				{ focus-window-up; }
	Mod+Right			{ focus-column-right; }
	
	Mod+Ctrl+Left		{ move-column-left; }
	Mod+Ctrl+Down		{ move-window-down; }
	Mod+Ctrl+Up			{ move-window-up; }
	Mod+Ctrl+Right		{ move-column-right; }

	Mod+Shift+Right			{ set-column-width "+50"; }
	Mod+Shift+Left			{ set-column-width "-50"; }
	Mod+Shift+Ctrl+Right	{ set-column-width "+5"; }
	Mod+Shift+Ctrl+Left		{ set-column-width "-5"; }

	Mod+Return			{ maximize-column; }
	Mod+Ctrl+Return		{ fullscreen-window; }
	Mod+Shift+Return	{ maximize-window-to-edges; }
	Mod+V				{ toggle-window-floating; }

	// Monitors
	Mod+Alt+Left		{ focus-monitor-left; }
	Mod+Alt+Down		{ focus-monitor-down; }
	Mod+Alt+Up			{ focus-monitor-up; }
	Mod+Alt+Right		{ focus-monitor-right; }

	Mod+Alt+Ctrl+Left	{ move-column-to-monitor-left; }
	Mod+Alt+Ctrl+Down	{ move-column-to-monitor-down; }
	Mod+Alt+Ctrl+Up		{ move-column-to-monitor-up; }
	Mod+Alt+Ctrl+Right	{ move-column-to-monitor-right; }

	// Workspaces
	Mod+Page_Down      	{ focus-workspace-down; }
    Mod+Page_Up       	{ focus-workspace-up; }
    Mod+Ctrl+Page_Down	{ move-window-to-workspace-down; }
    Mod+Ctrl+Page_Up	{ move-window-to-workspace-up; }

    Print { screenshot; }
    Ctrl+Print { screenshot-window; }

	// Free mouse/keyboard of application like virtualbox
	Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
	Mod+Shift+P { power-off-monitors; }
    Mod+Ctrl+Alt+Delete { quit; }
	
	Super+L hotkey-overlay-title="Show lockscreen" { spawn "hyprlock"; }

	// Special laptop buttons
	// "allow-when-locked=true" allow commands when session is locked
	XF86AudioMute allow-when-locked=true			{ spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle "; }
	// Limit to 0%
	XF86AudioLowerVolume allow-when-locked=true		{ spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1- -l 0.0"; }
	// Limit to 200%
	XF86AudioRaiseVolume allow-when-locked=true		{ spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 2.0"; }

	Ctrl+XF86AudioLowerVolume allow-when-locked=true	{ spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05- -l 0.0"; }
	Ctrl+XF86AudioRaiseVolume allow-when-locked=true	{ spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 2.0"; }
	

	XF86AudioMicMute allow-when-locked=true			{ spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

	XF86MonBrightnessDown allow-when-locked=true	{ spawn-sh "brightnessctl set 5%-"; }
	XF86MonBrightnessUp allow-when-locked=true		{ spawn-sh "brightnessctl set 5%+"; }

	// XF86Display

	// rfkill block all // airplane mode on
	// rfkill unblock all // airplane mode off
	// XF86WLAN

	// XF86NotificationCenter
	// XF86PickupPhone
	// XF86HangupPhone
	// XF86Favorites
}

